// 1. Change the default font family in all browsers (opinionated).
// 2. Correct the line height in all browsers.
// 3. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
html
  font-family sans-serif // 1
  font-size 16px
  line-height 1.15 // 2
  box-sizing border-box
  -ms-overflow-style scrollbar
  -ms-text-size-adjust 100% // 3
  -webkit-text-size-adjust 100% // 3
  -webkit-tap-highlight-color transparent

*
*::before
*::after
  box-sizing inherit

@at-root
  @-ms-viewport
    width device-width

html
body
  height 100vh

// 1. Remove the margin in all browsers (opinionated).
body
  font-family Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif
  font-size 1rem
  font-weight normal
  text-rendering geometricPrecision
  line-height 1.5
  color lightness(black, 13%)
  background-color white
  margin 0 // 1

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus
  outline none !important

h1
h2
h3
  margin-top 0
  margin-bottom .5rem

p
  margin-top 0
  margin-bottom 1rem

ul
  margin-top 0
  margin-bottom 1rem

// 1. Remove the gray background on active links in IE 10.
// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
// 3. Remove the outline on focused links when they are also active or hovered in all browsers (opinionated).
a
  background-color transparent // 1
  -webkit-text-decoration-skip objects // 2
  color link-color
  text-decoration link-decoration
  &:active
  &:hover
    outline-width 0 // 3

img
  border-style none

svg:not(:root)
  overflow hidden

// Prevent the duplicate application of `bolder` by the next rule in Safari 6.
b
strong
  font-weight inherit

// Add the correct font weight in Chrome, Edge, and Safari.
b
strong
  font-weight bolder

// Add the correct font size in all browsers.
small
  font-size 80%
